In [1]:
import pandas as pd
import numpy as np
import warnings
import matplotlib.pyplot as plt
import seaborn as sns
warnings.filterwarnings("ignore")# Ignore all warnings
from datetime import datetime, timedelta
# warnings.filterwarnings("default")

In [2]:
naming_key = pd.read_excel('../raw_data/naming_convension.xlsx',sheet_name='keys')
naming_demo = pd.read_excel('../raw_data/naming_convension.xlsx',sheet_name='Demographic')
naming_neuro = pd.read_excel('../raw_data/naming_convension.xlsx',sheet_name='neuropsychological')
naming = pd.concat([naming_key, naming_demo, naming_neuro], ignore_index=True)

## some help function

In [3]:
def calculate_visit_statistics(df):
    visit_counts = df.groupby('ID').size()
    visit_stats = {
        'average_visits': visit_counts.mean(),
        'min_visits': visit_counts.min(),
        'max_visits': visit_counts.max()
    }
    return visit_stats

In [4]:
def summarize_classification_progression(df):
    progression_dict = df.groupby('ID')['Classification'].apply(
        lambda x: [v for i, v in enumerate(x) if i == 0 or v != x.iloc[i-1]]
    ).to_dict()

    summary_map = {}
    for id, progression in progression_dict.items():
        progression_tuple = tuple(progression)
        if progression_tuple not in summary_map:
            summary_map[progression_tuple] = []
        summary_map[progression_tuple].append(id)

    for pattern, ids in summary_map.items():
        print(f"Progression Pattern: {pattern} -> RIDs: {ids}")
        print("with", len(ids), 'participants')

    return

def summarize_classification_progression_simple(df):
    progression_dict = df.groupby('ID')['Classification'].apply(
        lambda x: [x.iloc[0], x.iloc[-1]]
    ).to_dict()

    summary_map = {}
    for id, progression in progression_dict.items():
        progression_tuple = tuple(progression)
        if progression_tuple not in summary_map:
            summary_map[progression_tuple] = []
        summary_map[progression_tuple].append(id)

    for pattern, ids in summary_map.items():
        print(f"Progression Pattern: {pattern} -> RIDs: {ids}")
        print("with", len(ids), 'participants')

    return

In [5]:
def impute_demographic_data(df):
    df["Demographic.ApoE genotype"] = df.groupby("AIBL ID")["Demographic.ApoE genotype"].transform(lambda x: x.fillna(method='ffill').fillna(method='bfill'))

    education_mapping = {
        '0-6': (4, 6),
        '7-8': (7, 8),
        '9-12': (9, 12),
        '13-15': (13, 15),
        '15+': (16, 22)
    }

    def impute_years_of_education_exact(row):
        if pd.isna(row['Demographic.Years of Education Exact']) and row['Demographic.Years of Education'] in education_mapping:
            low, high = education_mapping[row['Demographic.Years of Education']]
            return np.random.default_rng(42).integers(low, high + 1) 
        return row['Demographic.Years of Education Exact']

    # Apply imputation function to each row
    df['Demographic.Years of Education Exact'] = df.apply(impute_years_of_education_exact, axis=1)

    return df

In [6]:
def generate_visit_column(df):
    # Sort values by ID and age
    df.sort_values(by=['ID', 'age'], inplace=True)

    # Calculate VISIT column
    def calculate_visit(group):
        first_age = group['age'].iloc[0]  # Age at first visit
        group['VISIT'] = ((group['age'] - first_age) * 12).astype(int)  # Difference in months as integer
        return group

    df = df.groupby('ID').apply(calculate_visit)

    # Resolve duplicate VISIT records
    def resolve_duplicates(group):
        # Add the index as a temporary column
        group['missing_count'] = group.isnull().sum(axis=1)
        group = group.sort_values(
            by=['VISIT', 'missing_count', 'age'],
            ascending=[True, True, False]
        )
        group = group.drop_duplicates(subset=['VISIT'], keep='first')
        group = group.drop(columns=['missing_count'])  # Clean up temporary columns
        return group

    df = df.groupby('ID').apply(resolve_duplicates)

    return df.reset_index(drop=True)

## AIBL

In [7]:
AIBL_raw = pd.read_excel('../raw_data/AIBL_2023.xlsx')
AIBL_raw['Demographic.YearMonthOfBirth']=AIBL_raw['Demographic.YearMonthOfBirth'].astype(str) + '01'
AIBL_raw['Demographic.YearMonthOfBirth'] = pd.to_datetime(AIBL_raw['Demographic.YearMonthOfBirth'], format='%Y%m%d')
AIBL_raw['Progress Summary.Date of NP assessment'] = pd.to_datetime(AIBL_raw['Progress Summary.Date of NP assessment'], format='%d/%m/%Y')
AIBL_raw['Age'] = round((AIBL_raw['Progress Summary.Date of NP assessment'] - AIBL_raw['Demographic.YearMonthOfBirth']).dt.days / 365, 2)
AIBL_raw = impute_demographic_data(AIBL_raw) ## only impute for education given the range but no exact value

In [8]:
AIBL_selected = AIBL_raw[naming['AIBL'].dropna().tolist()]
AIBL_selected.replace('NI', np.nan, inplace=True)
AIBL_selected = AIBL_selected.dropna(subset=['Age']).reset_index(drop=True)
AIBL_rename_dict = dict(zip(naming['AIBL'], naming['New_Name']))
AIBL_selected = AIBL_selected.rename(columns=AIBL_rename_dict)
AIBL_selected = generate_visit_column(AIBL_selected)

In [9]:
AIBL_selected.head(4)

,ID,Classification,age,sex,edu,APOE,BMI,blood_pressure_systolic,blood_pressure_diastolic,Heart_rate,...,NPIQ_Appetite_Sev,GDS,MMSE,memory_recall1,memory_recall2,Digit_Span_F,Digit_Span_B,animal,BNT,VISIT
0,2,HC,65.30,Male,16.0,E3/E3,24.82,130.0,80.0,66.0,...,NaN,2.0,29.0,15.0,14.0,9.0,5.0,40.0,NaN,0
1,2,HC,67.17,Male,16.0,E3/E3,24.40,135.0,85.0,64.0,...,NaN,NaN,30.0,9.0,8.0,12.0,10.0,51.0,30.0,22
2,2,HC,68.69,Male,16.0,E3/E3,23.40,121.0,69.0,62.0,...,NaN,0.0,30.0,20.0,18.0,13.0,10.0,42.0,30.0,40
3,2,HC,70.17,Male,16.0,E3/E3,24.66,142.0,77.0,57.0,...,NaN,1.0,30.0,16.0,14.0,13.0,9.0,46.0,30.0,58

## NACC

In [10]:
def add_age_column_NACC(df):
    df['VISITDATE'] = pd.to_datetime(
        dict(
            year=df['VISITYR'], 
            month=df['VISITMO'], 
            day=df['VISITDAY']
        )
    )
    df['BIRTHDATE'] = pd.to_datetime(
        dict(
            year=df['BIRTHYR'], 
            month=df['BIRTHMO'], 
            day=1
        )
    )
    df['AGE'] = (
        (df['VISITDATE'] - df['BIRTHDATE']).dt.total_seconds() 
        / (365.25 * 24 * 60 * 60)
    ).round(2)
    if 'NACCAGE' in df.columns:
        df['AGE'].fillna(df['NACCAGE'], inplace=True)
    return df

In [11]:
NACC_raw = pd.read_csv('../raw_data/investigator_ftldlbd_nacc66.csv',index_col=False)
NACC_raw = NACC_raw[['NACCID']].join(NACC_raw.select_dtypes(include=['number']))
NACC_raw.replace([-4, -4.4, 8, 9, 88, 99, 97, 98, 96, 95, 888, 999, 8888, 9999, 88.8, 888.8, 99.9, 777], np.nan, inplace=True)
NACC_raw = add_age_column_NACC(NACC_raw)
NACC_selected = NACC_raw[naming['NACC'].dropna().tolist()]
NACC_selected.replace('NI', np.nan, inplace=True)
NACC_selected = NACC_selected.dropna(subset=['AGE']).reset_index(drop=True)

In [12]:
## check for the recalculation of age value
age_difference = abs(NACC_raw['AGE'] - NACC_raw['NACCAGE'])
difference_check = age_difference > 1
rows_with_difference = NACC_raw[difference_check]
print(f"Number of rows with a difference > 1 year: {difference_check.sum()}")
rows_with_difference

Number of rows with a difference > 1 year: 0

Empty DataFrame
Columns: [NACCID, NACCADC, FORMVER, VISITMO, VISITDAY, VISITYR, NACCVNUM, NACCAVST, NACCNVST, NACCDAYS, NACCFDYS, NACCCORE, NACCREAS, NACCREFR, BIRTHMO, BIRTHYR, SEX, HISPANIC, HISPOR, RACE, RACESEC, RACETER, PRIMLANG, EDUC, MARISTAT, NACCLIVS, INDEPEND, RESIDENC, HANDED, INBIRMO, INBIRYR, INSEX, NEWINF, INHISP, INHISPOR, NACCNINR, INRACE, INRASEC, INRATER, INEDUC, INRELTO, INKNOWN, INLIVWTH, INVISITS, INCALLS, INRELY, NACCFAM, NACCMOM, NACCDAD, NACCAM, NACCAMS, NACCFM, NACCFMS, NACCOM, NACCOMS, NACCFADM, NACCFFTD, ANYMEDS, TOBAC30, TOBAC100, SMOKYRS, PACKSPER, QUITSMOK, ALCOCCAS, ALCFREQ, CVHATT, HATTMULT, HATTYEAR, CVAFIB, CVANGIO, CVBYPASS, CVPACDEF, CVPACE, CVCHF, CVANGINA, CVHVALVE, CVOTHR, CBSTROKE, STROKMUL, NACCSTYR, CBTIA, TIAMULT, NACCTIYR, PD, PDYR, PDOTHR, PDOTHRYR, SEIZURES, NACCTBI, TBI, TBIBRIEF, TRAUMBRF, TBIEXTEN, TRAUMEXT, TBIWOLOS, TRAUMCHR, TBIYEAR, NCOTHR, DIABETES, DIABTYPE, ...]
Index: []

[0 rows x 1714 columns]

In [13]:
NACC_rename_dict = dict(zip(naming['NACC'], naming['New_Name']))
NACC_selected = NACC_selected.rename(columns=NACC_rename_dict)
NACC_selected = generate_visit_column(NACC_selected)
NACC_selected.head(4)

,ID,Classification,age,sex,edu,APOE,BMI,blood_pressure_systolic,blood_pressure_diastolic,Heart_rate,...,NPIQ_Appetite_Sev,GDS,MMSE,memory_recall1,memory_recall2,Digit_Span_F,Digit_Span_B,animal,BNT,VISIT
0,NACC000011,3,62.21,2,16.0,1.0,22.7,115.0,70.0,76.0,...,NaN,0.0,30.0,12.0,11.0,NaN,6.0,20.0,27.0,0
1,NACC000011,3,63.38,2,16.0,1.0,22.5,118.0,76.0,57.0,...,NaN,1.0,29.0,13.0,NaN,7.0,6.0,21.0,28.0,14
2,NACC000011,3,64.34,2,16.0,1.0,22.1,110.0,70.0,62.0,...,NaN,0.0,30.0,12.0,NaN,NaN,6.0,21.0,28.0,25
3,NACC000011,2,65.00,2,16.0,1.0,21.7,135.0,80.0,76.0,...,NaN,0.0,28.0,11.0,10.0,7.0,NaN,19.0,28.0,33

## Check

check between AIBL and NACC, make sure with the same data structure

In [14]:
NACC_selected['ID'] = NACC_selected['ID'].str.replace('NACC', '').astype(int)
NACC_selected['APOE'] = NACC_selected['APOE'].map({1:'E3/E3' , 2:'E3/E4', 3:'E3/E2', 4:'E4/E4', 5:'E3/E2', 6:'E2/E2'})
NACC_selected['APOE4'] = NACC_selected['APOE'].apply(lambda x: 1 if isinstance(x, str) and 'E4' in x.split('/') else (0 if isinstance(x, str) else None))
# NACC_selected['height'] = NACC_selected['height'] * 2.54 # inches to cm
# NACC_selected['weight'] = NACC_selected['weight'] * 0.453592 # lbs to kg
NACC_selected['Digit_Span_F'] = (NACC_selected['Digit_Span_F'] / 12) * 16 # convert the range from 0-12 to 0-16 be consistent (later in modelling will do normalisation)
NACC_selected['Digit_Span_B'] = (NACC_selected['Digit_Span_F'] / 12) * 14 # convert the range from 0-12 to 0-14 be consistent (later in modelling will do normalisation)

NACC_selected['Classification'] = NACC_selected['Classification'].map({1:'HC' , 3:'MCI', 4:'AD'})
NACC_selected = NACC_selected[NACC_selected['Classification'].isin(['HC', 'MCI'])]
NACC_selected.head(4)

,ID,Classification,age,sex,edu,APOE,BMI,blood_pressure_systolic,blood_pressure_diastolic,Heart_rate,...,GDS,MMSE,memory_recall1,memory_recall2,Digit_Span_F,Digit_Span_B,animal,BNT,VISIT,APOE4
0,11,MCI,62.21,2,16.0,E3/E3,22.7,115.0,70.0,76.0,...,0.0,30.0,12.0,11.0,NaN,NaN,20.0,27.0,0,0.0
1,11,MCI,63.38,2,16.0,E3/E3,22.5,118.0,76.0,57.0,...,1.0,29.0,13.0,NaN,9.333333,10.888889,21.0,28.0,14,0.0
2,11,MCI,64.34,2,16.0,E3/E3,22.1,110.0,70.0,62.0,...,0.0,30.0,12.0,NaN,NaN,NaN,21.0,28.0,25,0.0
4,34,MCI,79.00,2,15.0,E4/E4,23.0,169.0,76.0,73.0,...,0.0,NaN,NaN,NaN,NaN,NaN,15.0,NaN,0,1.0

In [15]:
AIBL_selected['sex'] = AIBL_selected['sex'].map({'Female': 2, 'Male': 1})
AIBL_selected['APOE4'] = AIBL_selected['APOE'].apply(lambda x: 1 if isinstance(x, str) and 'E4' in x.split('/') else (0 if isinstance(x, str) else None))

NPIQ_cols_convert_AIBL = ['NPIQ_Delusions', 'NPIQ_Hallucinations', 'NPIQ_Agitation', 'NPIQ_Depression', 'NPIQ_Anxiety', 'NPIQ_Elation', 'NPIQ_Apathy', 'NPIQ_Disinhibition','NPIQ_Irritability', 'NPIQ_Motor', 'NPIQ_Nighttime', 'NPIQ_Appetite']
AIBL_selected[NPIQ_cols_convert_AIBL] = AIBL_selected[NPIQ_cols_convert_AIBL].replace({'Yes': 1, 'No': 0})
NPIQ_cols_numeric_AIBL = ['NPIQ_Hallucinations_Sev', 'NPIQ_Depression_Sev', 'NPIQ_Anxiety_Sev', 'NPIQ_Elation_Sev', 'NPIQ_Apathy_Sev', 'NPIQ_Disinhibition_Sev', 'NPIQ_Irritability_Sev', 'NPIQ_Motor_Sev', 'NPIQ_Nighttime_Sev', 'NPIQ_Appetite_Sev']  
AIBL_selected[NPIQ_cols_numeric_AIBL] = AIBL_selected[NPIQ_cols_numeric_AIBL].apply(pd.to_numeric, errors='coerce')

AIBL_selected['Classification'] = AIBL_selected['Classification'].replace('MCIX', 'MCI')
AIBL_selected = AIBL_selected[AIBL_selected['Classification'].isin(['HC', 'MCI'])] # Keep only rows where the 'classification' column contains 'HC', 'MCI', or 'AD'
AIBL_selected.head(4)

,ID,Classification,age,sex,edu,APOE,BMI,blood_pressure_systolic,blood_pressure_diastolic,Heart_rate,...,GDS,MMSE,memory_recall1,memory_recall2,Digit_Span_F,Digit_Span_B,animal,BNT,VISIT,APOE4
0,2,HC,65.30,1,16.0,E3/E3,24.82,130.0,80.0,66.0,...,2.0,29.0,15.0,14.0,9.0,5.0,40.0,NaN,0,0.0
1,2,HC,67.17,1,16.0,E3/E3,24.40,135.0,85.0,64.0,...,NaN,30.0,9.0,8.0,12.0,10.0,51.0,30.0,22,0.0
2,2,HC,68.69,1,16.0,E3/E3,23.40,121.0,69.0,62.0,...,0.0,30.0,20.0,18.0,13.0,10.0,42.0,30.0,40,0.0
3,2,HC,70.17,1,16.0,E3/E3,24.66,142.0,77.0,57.0,...,1.0,30.0,16.0,14.0,13.0,9.0,46.0,30.0,58,0.0

## Filter

In [16]:
def check_classification(group_df):
    group_df = group_df.sort_values(by='age')
    first_non_missing = group_df['Classification'].first_valid_index()
    last_non_nan = group_df['Classification'].last_valid_index()
    mci_detected = False
    for idx, row in group_df.iterrows():
        if row['Classification'] == 'MCI':
            mci_detected = True
        elif mci_detected and row['Classification'] != 'MCI':
            group_df = group_df.loc[:idx - 1]
            break
    return group_df

def drop_record_num(df, num=1):
    id_counts = df['ID'].value_counts()
    valid_ids = id_counts[id_counts > num].index
    return df[df['ID'].isin(valid_ids)].reset_index(drop=True)

def drop_missing_records(df, threshold=0.6):
    return df[df.isnull().mean(axis=1) <= threshold]

In [17]:
def remove_after_first_mci(df):
    def truncate_after_mci(group):
        mci_indices = group[group['Classification'] == 'MCI'].index
        if not mci_indices.empty:
            return group.loc[:mci_indices[0]]
        return group

    df = df.sort_values(by=['ID', 'age']).groupby('ID', group_keys=False).apply(truncate_after_mci).reset_index(drop=True)
    return df

In [18]:
print("the shape of DF", NACC_selected.shape, "There are ", len(NACC_selected["ID"].unique()), "unique participants")
NACC_filter = NACC_selected.sort_values(by=['ID', 'VISIT'])
NACC_filter = NACC_filter[NACC_filter.columns[~NACC_filter.columns.str.startswith('NPIQ')]]

NACC_filter = drop_missing_records(NACC_filter, threshold=0)
participants_to_remove = NACC_filter.groupby('ID').first().query("Classification == 'MCI'").index
NACC_filter = NACC_filter[~NACC_filter['ID'].isin(participants_to_remove)]
NACC_filter = NACC_filter.groupby('ID').apply(check_classification).reset_index(drop=True)
NACC_filter = remove_after_first_mci(NACC_filter)
NACC_filter = drop_record_num(NACC_filter, num=3)
print("the shape of DF", NACC_filter.shape, "There are ", len(NACC_filter["ID"].unique()), "unique participants")

the shape of DF (124608, 43) There are  34111 unique participants
the shape of DF (9165, 21) There are  1702 unique participants

In [19]:
print("the shape of DF", AIBL_selected.shape, "There are ", len(AIBL_selected["ID"].unique()), "unique participants")
AIBL_filter = AIBL_selected.sort_values(by=['ID', 'VISIT'])
AIBL_filter = AIBL_filter[AIBL_filter.columns[~AIBL_filter.columns.str.startswith('NPIQ')]]
AIBL_filter = drop_missing_records(AIBL_filter, threshold=0.3)
participants_to_remove = AIBL_filter.groupby('ID').first().query("Classification == 'MCI'").index
AIBL_filter = AIBL_filter[~AIBL_filter['ID'].isin(participants_to_remove)]
AIBL_filter = AIBL_filter.groupby('ID').apply(check_classification).reset_index(drop=True)
AIBL_filter = remove_after_first_mci(AIBL_filter)
AIBL_filter = drop_record_num(AIBL_filter,num=3)
print("the shape of DF", AIBL_filter.shape, "There are ", len(AIBL_filter["ID"].unique()), "unique participants")

the shape of DF (8048, 43) There are  1993 unique participants
the shape of DF (5516, 21) There are  830 unique participants

In [20]:
AIBL_selected

,ID,Classification,age,sex,edu,APOE,BMI,blood_pressure_systolic,blood_pressure_diastolic,Heart_rate,...,GDS,MMSE,memory_recall1,memory_recall2,Digit_Span_F,Digit_Span_B,animal,BNT,VISIT,APOE4
0,2,HC,65.30,1,16.0,E3/E3,24.82,130.0,80.0,66.0,...,2.0,29.0,15.0,14.0,9.0,5.0,40.0,NaN,0,0.0
1,2,HC,67.17,1,16.0,E3/E3,24.40,135.0,85.0,64.0,...,NaN,30.0,9.0,8.0,12.0,10.0,51.0,30.0,22,0.0
2,2,HC,68.69,1,16.0,E3/E3,23.40,121.0,69.0,62.0,...,0.0,30.0,20.0,18.0,13.0,10.0,42.0,30.0,40,0.0
3,2,HC,70.17,1,16.0,E3/E3,24.66,142.0,77.0,57.0,...,1.0,30.0,16.0,14.0,13.0,9.0,46.0,30.0,58,0.0
4,2,HC,71.74,1,16.0,E3/E3,25.09,150.0,72.0,54.0,...,1.0,30.0,14.0,15.0,11.0,10.0,41.0,30.0,77,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9845,2999,MCI,88.34,1,NaN,NaN,24.37,158.0,73.0,74.0,...,2.0,30.0,10.0,6.0,7.0,6.0,39.0,28.0,18,NaN
9849,3004,MCI,70.84,1,NaN,NaN,22.27,127.0,91.0,58.0,...,0.0,22.0,1.0,0.0,15.0,12.0,24.0,27.0,18,NaN
9857,3014,HC,67.61,1,NaN,NaN,23.19,147.0,73.0,62.0,...,0.0,30.0,11.0,9.0,11.0,11.0,45.0,28.0,15,NaN
9869,3029,HC,70.26,1,NaN,NaN,32.37,155.0,92.0,83.0,...,0.0,30.0,11.0,7.0,11.0,7.0,28.0,30.0,14,NaN
9871,3030,HC,68.96,2,NaN,NaN,24.77,190.0,95.0,72.0,...,0.0,30.0,16.0,16.0,10.0,8.0,40.0,27.0,15,NaN

In [21]:
calculate_visit_statistics(AIBL_filter)

{'average_visits': 6.645783132530121, 'min_visits': 4, 'max_visits': 11}

In [22]:
(AIBL_filter.isna().mean() * 100).sort_values(ascending=False)

GDS                         12.237128
BMI                          7.342277
Heart_rate                   6.780276
blood_pressure_diastolic     6.580856
blood_pressure_systolic      6.381436
Digit_Span_F                 0.815809
Digit_Span_B                 0.815809
animal                       0.525743
BNT                          0.489485
memory_recall2               0.217549
APOE4                        0.163162
APOE                         0.163162
edu                          0.126904
MMSE                         0.108774
memory_recall1               0.108774
CDR_SB                       0.072516
Classification               0.000000
sex                          0.000000
age                          0.000000
VISIT                        0.000000
ID                           0.000000
dtype: float64

In [23]:
NACC_ID_delete = [549156, 629312] ### just ensure all the participants for CU-MCI converter involved for MCI is inside CU/MCI - AD converter
NACC_filter = NACC_filter[~NACC_filter['ID'].isin(NACC_ID_delete)]

In [24]:
NACC_filter.to_csv('../preprocessed_data/NACC_selected_MCI.csv', index=False)
AIBL_filter.to_csv('../preprocessed_data/AIBL_selected_MCI.csv', index=False)

In [25]:
summarize_classification_progression_simple(NACC_filter)

Progression Pattern: ('HC', 'HC') -> RIDs: [992, 1504, 2122, 2616, 2720, 3052, 6569, 7406, 11828, 11922, 12212, 12235, 12716, 13409, 13771, 14377, 16407, 16412, 17109, 17294, 17516, 17546, 19799, 19892, 20513, 20530, 21360, 22920, 24559, 25199, 25918, 26743, 27516, 30140, 30148, 33850, 34386, 37267, 37512, 37828, 38012, 38544, 38862, 39029, 39761, 40262, 41238, 41386, 42697, 43527, 47077, 48262, 48656, 48812, 49677, 49982, 50166, 50382, 50540, 51164, 52136, 53049, 53257, 53791, 54587, 55186, 55874, 56647, 57935, 57953, 58667, 59326, 60082, 60203, 61124, 61437, 62801, 63098, 63626, 64627, 65263, 65909, 65923, 66764, 66770, 67919, 68322, 69309, 69426, 71910, 72185, 73892, 74581, 74916, 75911, 76213, 76374, 76774, 77761, 78090, 79574, 79781, 80728, 83470, 83687, 83765, 84809, 85020, 86678, 86778, 86890, 87595, 88963, 89122, 89251, 90639, 91298, 91708, 93264, 93935, 94523, 94571, 94661, 95188, 95374, 95384, 95791, 96054, 96601, 96892, 97008, 97310, 97453, 97580, 97770, 98351, 101261, 101273, 101834, 101921, 103728, 104228, 104926, 105392, 105745, 107077, 108302, 108330, 108507, 109251, 109706, 110086, 110477, 110655, 112272, 113455, 113933, 114512, 114564, 115379, 116935, 117679, 118701, 119444, 119604, 121091, 121214, 121230, 121914, 122141, 122262, 123669, 124707, 125146, 126673, 126717, 126848, 127011, 127379, 130041, 131088, 132136, 132539, 133165, 133397, 133726, 133742, 135157, 135425, 138574, 138723, 139464, 140054, 140113, 141502, 142509, 143131, 143144, 144300, 146731, 148315, 148497, 148538, 148642, 149145, 150127, 151594, 152105, 153132, 153299, 154693, 155765, 156658, 157458, 157618, 157809, 159991, 161663, 161667, 161672, 161851, 161912, 161986, 162022, 162269, 162524, 163782, 164122, 164506, 166272, 166446, 166911, 167165, 167234, 167723, 167735, 168349, 168521, 169397, 170130, 172716, 172753, 173389, 173910, 174061, 174294, 176148, 176170, 176267, 177887, 177911, 178105, 178252, 178264, 178851, 179165, 181007, 181167, 181400, 182068, 182953, 183588, 184247, 185090, 185984, 186196, 186344, 187334, 188624, 188900, 189456, 189827, 190618, 191760, 191953, 192719, 192938, 194347, 195165, 195208, 195901, 196079, 196654, 196817, 196922, 197685, 197793, 197970, 198451, 198519, 199501, 199603, 200277, 200442, 200797, 202710, 204851, 205356, 206483, 207345, 208204, 208608, 208802, 210700, 210879, 212087, 212499, 212657, 212681, 213579, 213982, 215814, 215845, 216948, 217273, 218821, 219413, 219517, 219618, 220143, 220448, 221139, 222615, 222712, 223751, 224704, 225601, 227022, 227062, 227156, 227895, 228402, 228934, 229124, 231575, 233490, 235847, 235863, 235939, 236695, 236725, 237265, 238742, 241746, 243712, 243923, 244037, 244208, 244314, 244478, 244739, 245215, 245493, 245761, 246916, 247521, 247640, 247978, 248602, 250102, 250128, 250939, 251313, 252047, 252465, 252645, 252806, 253378, 254268, 254879, 255511, 255888, 256627, 257342, 259376, 261581, 262037, 262931, 263087, 263960, 265248, 266450, 266474, 266711, 267491, 268441, 268527, 268830, 269303, 270815, 270893, 271274, 272381, 272740, 273150, 273238, 273561, 275198, 275998, 276815, 276958, 278070, 278181, 278208, 279134, 279256, 279593, 280118, 280219, 280258, 281843, 281927, 282008, 282662, 283216, 284397, 285031, 285855, 285905, 286190, 286543, 287432, 288321, 288637, 288659, 289681, 290365, 292688, 292974, 293223, 293728, 293851, 294361, 294746, 295747, 295809, 296437, 296843, 297374, 297732, 298518, 302308, 302342, 302978, 303037, 303378, 304258, 304330, 304892, 305435, 306743, 307523, 308316, 309020, 309693, 310505, 310889, 310896, 311697, 311905, 312232, 313133, 313407, 314660, 315037, 315531, 315733, 315795, 315994, 316687, 317933, 318565, 320321, 320394, 320532, 320627, 321032, 322204, 322582, 323753, 324553, 324597, 325336, 325360, 326769, 326821, 327440, 327458, 327760, 327817, 328127, 330516, 330530, 331140, 332423, 333823, 333966, 333978, 334174, 335504, 336070, 338277, 339473, 340675, 340797, 341363, 341379, 341638, 341891, 342883, 345005, 346140, 346298, 347596, 348745, 348844, 349812, 349998, 351176, 351376, 351989, 353081, 353577, 353660, 353821, 353875, 354719, 354726, 355043, 355742, 357394, 358111, 359255, 359374, 359991, 360163, 360328, 360729, 361240, 361328, 363830, 364036, 364066, 364469, 364532, 365112, 365483, 365823, 366328, 367711, 368559, 368780, 368901, 368935, 369002, 369051, 369594, 369666, 370196, 370850, 370988, 371664, 371779, 372858, 372998, 373445, 374606, 374940, 375206, 378051, 378691, 379306, 379772, 379796, 380393, 381525, 381631, 383027, 383321, 383575, 385205, 385624, 386491, 387899, 388664, 389930, 390619, 391863, 392492, 393121, 393349, 394822, 395241, 396068, 396878, 396987, 397010, 397160, 398740, 398815, 399018, 399198, 399611, 401923, 404172, 407130, 407162, 407746, 408291, 408461, 409184, 409971, 410743, 410828, 411706, 411824, 412117, 412855, 414000, 414090, 414512, 416185, 417124, 417312, 421833, 422027, 423383, 423895, 424050, 424223, 425969, 426424, 426642, 428546, 428974, 429099, 429298, 429716, 430130, 430973, 431805, 432315, 432686, 433452, 433456, 433465, 434356, 435667, 436012, 436043, 436597, 436705, 437211, 437347, 437540, 437632, 438212, 438637, 439797, 440338, 440989, 441177, 441519, 442327, 442349, 443035, 443432, 444052, 444662, 444769, 444839, 445100, 445104, 445258, 445491, 445643, 445664, 447747, 448017, 452598, 453099, 453375, 454144, 454221, 454524, 456026, 456632, 458409, 459528, 460458, 460564, 461394, 461784, 462218, 463270, 463342, 464234, 465344, 466444, 466618, 466904, 467935, 468332, 468469, 468657, 469309, 470026, 470066, 470393, 470748, 473301, 475203, 476216, 476378, 478236, 479295, 479586, 479704, 479774, 480262, 480401, 481570, 482303, 482333, 482725, 483953, 485207, 485684, 486219, 486333, 486679, 487066, 487399, 488489, 488879, 489300, 489649, 490807, 493541, 493842, 494075, 496107, 496350, 497089, 497408, 498327, 499264, 499358, 499810, 500693, 502085, 502232, 502694, 502792, 502808, 503512, 503515, 505974, 505997, 506122, 506821, 507153, 508757, 509182, 509251, 510283, 510491, 510546, 510923, 511193, 511359, 512062, 512348, 514701, 514966, 515081, 515275, 515712, 516216, 516986, 517376, 518121, 518429, 518471, 518589, 518828, 519182, 519965, 521323, 521395, 521472, 521845, 522091, 524659, 526635, 527635, 527725, 528058, 528527, 529055, 529462, 531166, 531295, 531929, 532392, 532641, 532721, 532926, 535461, 536072, 536271, 536567, 536620, 537790, 537870, 538243, 538757, 538906, 539500, 540259, 540311, 540762, 540779, 542293, 542448, 542994, 543028, 544234, 545812, 547258, 547553, 547596, 550650, 550660, 550785, 552178, 554100, 554139, 555267, 555728, 556220, 557492, 558275, 558630, 559269, 559673, 561009, 561228, 561768, 561996, 563440, 564093, 564915, 565154, 565975, 566435, 566469, 566918, 567563, 569642, 570743, 571207, 572183, 572999, 573182, 573489, 573815, 573975, 574521, 575221, 576391, 576944, 577319, 577606, 579050, 579680, 580123, 580283, 581129, 582550, 585247, 585380, 585679, 586489, 586834, 586950, 587052, 587456, 587920, 588808, 588851, 591381, 592269, 592520, 592528, 593599, 594390, 594769, 594812, 595023, 595106, 595268, 595379, 595731, 595800, 597997, 598399, 599037, 599063, 600982, 601016, 604580, 604763, 606586, 606733, 607063, 607380, 607424, 608147, 609908, 610446, 610472, 611508, 611559, 612253, 612784, 613058, 613307, 614360, 614363, 614931, 615072, 615654, 616529, 619801, 620216, 620335, 620746, 620810, 621217, 622465, 623010, 623489, 623692, 624443, 624506, 624583, 624638, 626174, 626503, 626765, 629300, 629315, 629356, 629654, 629794, 630148, 630500, 630789, 631149, 632364, 634462, 635810, 636289, 636574, 636959, 638261, 638872, 639115, 639120, 639369, 639526, 639768, 639887, 640521, 640762, 641048, 641131, 641203, 641292, 642177, 643641, 645283, 647770, 648244, 648907, 649118, 649727, 649780, 650774, 651677, 652572, 653087, 653120, 653559, 654733, 655241, 655818, 655870, 657666, 659083, 659173, 661727, 661894, 662416, 664763, 664891, 665594, 665637, 666837, 667282, 667681, 668075, 668093, 668158, 669564, 669798, 669971, 669974, 670052, 670122, 670367, 670522, 671275, 673200, 674514, 674921, 675987, 676076, 676092, 676135, 676431, 676529, 676693, 678334, 679297, 679688, 680528, 680731, 681071, 681691, 682078, 682263, 683057, 685926, 686033, 686383, 686793, 687363, 687395, 687424, 687519, 687774, 688417, 689101, 689881, 691402, 692223, 692858, 694111, 694920, 695468, 696285, 697004, 697219, 697846, 697996, 698032, 698115, 699365, 699596, 699665, 699903, 700303, 700642, 701098, 701379, 701732, 702952, 703176, 703497, 703664, 704275, 704617, 705243, 705250, 705636, 706086, 707760, 707959, 708291, 708455, 708802, 709501, 709828, 709900, 710102, 710334, 711414, 713833, 714169, 714771, 714829, 715606, 715859, 717622, 718388, 718602, 718635, 719315, 720239, 721351, 721395, 722193, 722241, 722495, 723270, 723646, 724339, 724764, 724965, 725587, 726910, 726996, 728050, 728597, 728901, 729079, 729217, 729401, 729936, 730030, 730352, 730798, 731674, 731841, 731861, 732380, 733447, 733553, 734231, 735028, 737174, 737245, 737896, 737978, 738542, 739142, 740182, 740518, 741113, 742392, 742487, 743382, 743875, 744209, 744839, 745610, 747303, 747629, 749609, 750570, 751077, 751552, 751606, 751641, 751812, 751952, 752038, 752168, 752657, 754242, 754259, 754740, 756177, 756214, 756489, 757827, 757890, 759098, 760871, 761856, 762293, 762602, 763185, 763690, 764099, 764796, 765954, 766160, 766598, 766941, 767355, 767520, 767819, 767939, 768351, 768616, 769545, 769556, 769626, 770132, 770589, 771244, 771624, 771762, 772583, 773575, 774384, 774611, 774764, 775144, 775181, 775378, 776333, 777254, 778543, 778879, 779324, 779388, 779572, 780267, 780551, 781551, 782352, 782944, 782973, 783314, 784025, 784270, 784335, 785249, 785276, 785709, 786925, 787133, 788703, 788713, 789781, 790371, 790912, 791013, 791696, 792798, 794043, 794760, 794979, 795739, 795993, 796672, 796854, 798057, 798078, 798699, 800848, 802587, 804456, 804898, 805446, 806140, 806578, 806613, 806647, 806908, 807381, 808407, 809193, 809621, 810552, 810789, 812051, 812189, 814192, 814269, 814991, 815650, 816205, 816228, 816344, 816509, 816889, 816944, 817506, 818422, 818710, 818827, 819013, 819237, 819248, 819522, 820226, 820657, 821040, 821169, 821865, 821970, 822000, 822043, 824595, 826389, 826814, 827019, 827390, 827424, 827765, 827850, 827929, 829079, 829198, 829456, 831082, 831742, 832008, 832273, 832399, 832562, 833217, 835263, 836416, 836855, 837169, 837744, 839467, 839528, 839652, 842611, 844151, 844212, 846021, 846169, 846570, 846646, 846829, 847309, 847882, 848281, 848646, 848748, 849336, 849818, 850117, 850288, 850443, 850472, 850963, 851163, 851386, 851768, 851878, 852023, 852198, 852291, 853103, 854726, 855116, 855807, 857263, 859828, 861982, 862650, 863164, 863465, 863826, 864376, 864520, 864623, 865868, 866504, 867502, 867792, 868965, 869264, 870859, 871922, 872024, 872424, 872672, 873373, 873478, 874031, 874179, 876071, 879190, 879270, 879488, 879596, 880826, 881036, 881178, 881761, 881929, 883178, 884140, 884744, 885515, 886694, 887498, 889413, 889578, 889656, 889672, 890765, 890832, 893010, 893331, 893871, 894239, 894526, 895657, 895713, 896035, 896063, 897705, 898118, 898362, 899441, 900020, 900878, 901073, 902448, 902733, 903687, 904132, 905058, 905374, 906020, 906696, 907006, 907714, 908077, 908423, 908958, 909821, 911157, 912768, 913442, 913755, 913770, 914312, 914572, 915195, 915840, 916142, 916405, 916719, 916875, 916933, 917522, 920024, 920163, 920745, 921183, 921214, 921749, 922043, 923186, 923556, 923625, 924710, 926442, 926898, 927446, 927495, 927505, 928400, 929505, 929919, 930008, 930370, 931079, 931831, 932597, 932623, 936405, 936753, 937686, 938098, 939602, 940603, 940919, 942438, 942735, 943422, 943602, 943798, 945867, 946145, 946938, 949866, 949893, 949929, 951361, 951875, 952834, 953477, 953846, 954055, 954298, 954541, 955106, 955110, 957078, 958786, 959601, 960283, 961626, 961929, 962414, 963406, 964056, 965256, 965600, 965689, 965823, 966298, 966417, 966512, 966892, 967112, 968081, 968448, 968542, 968842, 969390, 970530, 970552, 970921, 971602, 971639, 971811, 972493, 973685, 973994, 974685, 975108, 975169, 975766, 976934, 977317, 977742, 977967, 979205, 980450, 980495, 980506, 980709, 981111, 981367, 981465, 981909, 982169, 982468, 983084, 983519, 983632, 984060, 984824, 984943, 985026, 985216, 986277, 988020, 988180, 988343, 988544, 989027, 989252, 989696, 989876, 991372, 991965, 992203, 992375, 994375, 995351, 995403, 995502, 995510, 997010, 997077, 997165, 998243, 998324, 998978, 999675, 999854]
with 1586 participants
Progression Pattern: ('HC', 'MCI') -> RIDs: [7494, 22680, 29082, 37960, 40423, 45857, 52145, 60833, 98611, 110222, 113819, 115117, 118569, 161157, 199242, 199543, 204661, 205573, 209984, 212357, 212559, 221651, 232556, 241399, 242929, 256585, 258800, 272343, 294492, 295630, 309208, 329498, 336297, 339472, 350613, 351618, 355338, 355882, 361276, 365339, 378486, 379278, 400496, 410529, 425535, 440732, 450915, 453098, 457074, 461838, 465463, 506549, 519676, 524496, 527851, 537919, 540590, 540927, 544637, 553104, 555055, 593795, 596070, 606778, 610634, 613831, 617211, 622781, 625427, 627380, 638385, 678556, 679820, 680918, 706824, 726809, 734551, 739901, 752905, 755136, 761791, 767812, 778047, 781631, 784337, 785826, 799727, 820730, 820776, 821049, 856755, 859808, 865423, 867246, 868043, 885157, 886732, 889154, 890033, 896283, 898140, 899424, 906008, 908790, 914887, 923390, 924945, 960333, 980785, 982715, 986955, 987547, 989602, 989721]
with 114 participants

In [26]:
summarize_classification_progression_simple(AIBL_filter)

Progression Pattern: ('HC', 'HC') -> RIDs: [2, 6, 11, 13, 14, 18, 21, 22, 24, 25, 26, 27, 29, 31, 32, 39, 43, 44, 45, 46, 50, 51, 52, 54, 55, 59, 60, 61, 62, 64, 67, 68, 72, 73, 74, 75, 78, 79, 80, 85, 88, 90, 97, 98, 101, 105, 117, 120, 121, 122, 127, 128, 129, 131, 132, 136, 137, 138, 139, 140, 142, 144, 145, 146, 147, 148, 149, 150, 151, 152, 154, 155, 158, 161, 163, 165, 166, 167, 168, 171, 174, 175, 176, 178, 179, 181, 182, 183, 185, 186, 187, 190, 191, 193, 194, 197, 198, 200, 201, 204, 205, 206, 209, 211, 213, 214, 215, 219, 220, 221, 223, 225, 226, 228, 229, 231, 233, 234, 235, 236, 237, 239, 241, 242, 243, 244, 245, 247, 249, 250, 252, 253, 254, 255, 258, 260, 262, 263, 264, 265, 266, 267, 268, 269, 272, 275, 276, 279, 280, 281, 282, 283, 284, 286, 287, 289, 290, 292, 293, 297, 298, 299, 301, 304, 305, 307, 308, 311, 312, 313, 314, 316, 317, 318, 319, 322, 323, 324, 326, 328, 329, 333, 334, 337, 338, 339, 341, 343, 344, 350, 352, 355, 358, 359, 362, 363, 364, 367, 379, 381, 382, 388, 390, 393, 395, 397, 402, 404, 405, 407, 409, 411, 412, 413, 414, 415, 416, 420, 421, 424, 426, 428, 430, 436, 437, 438, 439, 440, 441, 443, 444, 446, 447, 449, 451, 454, 455, 458, 459, 460, 461, 463, 464, 467, 469, 470, 477, 478, 480, 482, 484, 485, 491, 492, 493, 495, 496, 498, 499, 500, 501, 506, 508, 511, 516, 518, 519, 520, 523, 524, 525, 527, 528, 529, 530, 531, 532, 533, 534, 535, 536, 537, 539, 542, 543, 545, 548, 551, 552, 553, 555, 556, 557, 560, 562, 565, 569, 573, 574, 576, 577, 579, 586, 587, 589, 592, 595, 602, 603, 604, 608, 610, 612, 617, 618, 620, 621, 623, 625, 626, 627, 628, 630, 631, 632, 633, 635, 636, 637, 639, 640, 641, 643, 644, 645, 648, 650, 652, 661, 662, 667, 668, 669, 670, 671, 672, 673, 674, 675, 677, 681, 682, 684, 685, 686, 691, 692, 695, 696, 697, 698, 699, 700, 703, 704, 707, 709, 710, 711, 712, 714, 715, 716, 718, 720, 722, 724, 727, 729, 730, 732, 733, 736, 741, 742, 745, 752, 754, 755, 756, 758, 759, 760, 764, 765, 766, 767, 768, 770, 771, 774, 775, 780, 784, 786, 788, 791, 792, 796, 797, 798, 799, 801, 802, 803, 806, 808, 811, 812, 814, 817, 818, 822, 826, 827, 828, 829, 834, 835, 837, 841, 843, 845, 846, 850, 852, 853, 855, 856, 858, 859, 860, 863, 864, 865, 866, 867, 868, 870, 871, 873, 875, 878, 880, 883, 884, 887, 888, 891, 897, 899, 900, 904, 906, 907, 912, 931, 932, 938, 961, 967, 972, 973, 985, 988, 1024, 1025, 1027, 1034, 1035, 1055, 1061, 1098, 1101, 1104, 1110, 1146, 1147, 1153, 1159, 1184, 1186, 1187, 1189, 1191, 1192, 1193, 1194, 1198, 1214, 1217, 1218, 1221, 1222, 1225, 1228, 1234, 1237, 1241, 1249, 1252, 1256, 1259, 1267, 1278, 1281, 1282, 1285, 1286, 1287, 1290, 1291, 1293, 1294, 1295, 1302, 1303, 1307, 1309, 1311, 1312, 1318, 1319, 1324, 1327, 1335, 1340, 1341, 1343, 1350, 1356, 1358, 1360, 1366, 1370, 1373, 1375, 1380, 1384, 1392, 1394, 1396, 1399, 1401, 1405, 1410, 1412, 1413, 1416, 1418, 1419, 1423, 1431, 1432, 1433, 1436, 1439, 1444, 1448, 1451, 1453, 1455, 1456, 1459, 1461, 1466, 1468, 1483, 1488, 1494, 1498, 1500, 1509, 1514, 1519, 1520, 1524, 1531, 1535, 1541, 1558, 1566, 1569, 1574, 1580, 1583, 1585, 1588, 1598, 1601, 1609, 1618, 1629, 1635, 1647, 1657, 1661, 1665, 1669, 1691, 1694, 1698, 1705, 1707, 1709, 1710, 1715, 1716, 1729, 1730, 1736, 1739, 1747, 1761, 1767, 1768, 1771, 1772, 1784, 1787, 1792, 1798, 1799, 1800, 1807, 1813, 1817, 1818, 1820, 1822, 1823, 1825, 1834, 1835, 1836, 1837, 1849, 1853, 1854, 1857, 1858, 1859, 1868, 1869, 1877, 1886, 1887, 1902, 1904, 1905, 1906, 1910, 1912, 1913, 1941, 1951, 1965, 1968, 1987, 2006, 2009, 2010, 2018, 2026, 2031, 2038, 2039, 2041, 2044, 2077, 2087, 2102, 2120, 2121, 2143, 2145, 2152, 2153, 2168, 2171, 2172, 2177, 2185, 2189, 2195, 2199, 2209, 2212, 2233, 2242, 2256, 2280, 2285, 2295, 2302, 2313, 2314, 2320, 2324, 2329, 2350, 2357, 2359, 2392, 2396, 2438, 2457, 2458, 2459, 2460, 2479, 2489, 2495, 2498, 2503, 2504, 2507, 2513, 2515, 2517, 2518, 2520, 2532, 2536, 2563, 2565, 2566, 2568, 2573, 2576, 2635]
with 741 participants
Progression Pattern: ('HC', 'MCI') -> RIDs: [4, 20, 33, 38, 53, 83, 118, 119, 141, 157, 164, 169, 184, 196, 203, 207, 212, 227, 257, 261, 288, 300, 306, 327, 332, 335, 336, 360, 384, 403, 406, 433, 435, 445, 471, 475, 486, 517, 522, 526, 540, 541, 546, 559, 580, 588, 596, 605, 613, 614, 615, 638, 642, 660, 680, 725, 728, 737, 753, 757, 773, 795, 804, 805, 816, 832, 839, 857, 861, 872, 927, 966, 1005, 1026, 1033, 1050, 1095, 1129, 1197, 1215, 1266, 1269, 1283, 1334, 1344, 1354, 1376, 1485, 2017]
with 89 participants

In [27]:
calculate_visit_statistics(AIBL_filter)

{'average_visits': 6.645783132530121, 'min_visits': 4, 'max_visits': 11}

In [28]:
calculate_visit_statistics(NACC_filter)

{'average_visits': 5.385882352941176, 'min_visits': 4, 'max_visits': 14}

In [29]:
def calculate_stats(df, dataset_name):
    df = df.sort_values(by=['ID', 'VISIT'])
    baseline = df.groupby('ID').first().reset_index()

    age_mean = baseline['age'].mean()
    age_std = baseline['age'].std()

    gender_female_count = (baseline['sex'] == 2).sum()
    gender_female_percentage = (gender_female_count / len(baseline)) * 100

    education_mean = baseline['edu'].mean()
    education_std = baseline['edu'].std()

    APOE4_positive_count = (baseline['APOE4'] == 1).sum()
    APOE4_positive_percentage = (APOE4_positive_count / len(baseline)) * 100

    num_visits = df.groupby('ID')['VISIT'].count()
    num_visits_mean = num_visits.mean()
    num_visits_std = num_visits.std()

    follow_up_intervals = df.groupby('ID')['VISIT'].agg(['min', 'max'])
    follow_up_range = f"{follow_up_intervals['max'].min()} - {follow_up_intervals['max'].max()} months"

    df['MCI_converter'] = df['Classification'].eq('MCI').astype(int)
    MCI_converters = df.groupby('ID')['MCI_converter'].max().reset_index()
    MCI_conversion_count = MCI_converters['MCI_converter'].sum()
    MCI_conversion_percentage = (MCI_conversion_count / MCI_converters.shape[0]) * 100

    converters = df[df['ID'].isin(MCI_converters[MCI_converters['MCI_converter'] == 1]['ID'])]
    if not converters.empty:
        time_to_conversion = converters[converters['Classification'] == 'MCI'].groupby('ID')['VISIT'].min()
        time_to_conversion_mean = time_to_conversion.mean()
        time_to_conversion_std = time_to_conversion.std()
    else:
        time_to_conversion_mean = None
        time_to_conversion_std = None
    return {
        'Dataset': dataset_name,
        'Age at Baseline': f"{age_mean:.1f} ± {age_std:.1f}",
        'Gender (Female, n, %)': f"{gender_female_count} ({gender_female_percentage:.1f}%)",
        'Education (years, mean ± std)': f"{education_mean:.1f} ± {education_std:.1f}",
        'APOE4 Positive (n, %)': f"{APOE4_positive_count} ({APOE4_positive_percentage:.1f}%)",
        'Visits (mean ± std)': f"{num_visits_mean:.1f} ± {num_visits_std:.1f}",
        'Follow-up Interval': follow_up_range,
        'MCI Conversion (n, %)': f"{MCI_conversion_count} ({MCI_conversion_percentage:.1f}%)",
        'Time to MCI Conversion (mean ± std)': f"{time_to_conversion_mean:.1f} ± {time_to_conversion_std:.1f}" if time_to_conversion_mean else "N/A"
    }

datasets = [(NACC_filter, "NACC"), (AIBL_filter, "AIBL")]
summary_stats = pd.DataFrame()
for cur_df, cur_df_name in datasets:
    summary_stats = pd.concat([summary_stats, pd.DataFrame([calculate_stats(cur_df, cur_df_name)])], ignore_index=True)
summary_stats

,Dataset,Age at Baseline,"Gender (Female, n, %)","Education (years, mean ± std)","APOE4 Positive (n, %)",Visits (mean ± std),Follow-up Interval,"MCI Conversion (n, %)",Time to MCI Conversion (mean ± std)
0,NACC,71.5 ± 8.9,1145 (67.4%),16.1 ± 2.7,448 (26.4%),5.4 ± 1.6,25 - 202 months,114 (6.7%),87.8 ± 31.8
1,AIBL,70.1 ± 6.5,469 (56.5%),12.7 ± 3.2,208 (25.1%),6.6 ± 2.3,39 - 189 months,89 (10.7%),89.9 ± 37.2

## prepare for later survival analysis

In [30]:
def prepare_for_survival_analysis(df):
    df = df.sort_values(by=['ID', 'VISIT']).copy()
    
    
    def process_group(group):
        group['start'] = group['VISIT']
        group['stop'] = group['VISIT'].shift(-1)
        group['event'] = 0
        mci_indices = group[group['Classification'] == 'MCI'].index.tolist()
        if mci_indices:
            first_mci_idx = mci_indices[0]
            # last_ad_idx = ad_indices[-1]
            first_mci_stop = group.loc[first_mci_idx, 'VISIT']
            retained = group.loc[:first_mci_idx - 1].copy()
            if not retained.empty:
                retained.iloc[-1, retained.columns.get_loc('event')] = 1
                retained.iloc[-1, retained.columns.get_loc('stop')] = first_mci_stop
            return retained
        else:
            group = group.dropna(subset=['stop'])
            # group = group[group['stop'] != 0]
            # No 'MCI' occurrence; retain all records with 'event' as 0
            return group.copy()
    
    # Apply the processing to each group
    df_processed = df.groupby('ID').apply(process_group).reset_index(drop=True)
    df_processed = df_processed.drop(columns=['VISIT'])
    return df_processed

In [31]:
NACC_survival = prepare_for_survival_analysis(NACC_filter)
NACC_survival = drop_record_num(NACC_survival)
print("There are", NACC_survival['ID'].nunique(), "unique participants selected, with ", round((NACC_survival['event'].sum()/NACC_survival['ID'].nunique())*100, 2), "% convert to MCI in NACC")


AIBL_survival = prepare_for_survival_analysis(AIBL_filter)
AIBL_survival= drop_record_num(AIBL_survival)
print("There are", AIBL_survival['ID'].nunique(), "unique participants selected, with ", round((AIBL_survival['event'].sum()/AIBL_survival['ID'].nunique())*100, 2), "% convert to MCI in AIBL")

There are 1700 unique participants selected, with  6.71 % convert to MCI in NACC
There are 830 unique participants selected, with  10.72 % convert to MCI in AIBL

In [32]:
AIBL_survival.to_csv('../preprocessed_data/longitudinal_AIBL_MCI.csv', index=False)
NACC_survival.to_csv('../preprocessed_data/longitudinal_NACC_MCI.csv', index=False)