In [11]:
import pandas as pd

In [ ]:
def summarize_classification_progression(df):
    progression_dict = df.groupby('ID')['Classification'].apply(
        lambda x: [v for i, v in enumerate(x) if i == 0 or v != x.iloc[i-1]]
    ).to_dict()

    summary_map = {}
    for id, progression in progression_dict.items():
        progression_tuple = tuple(progression)
        if progression_tuple not in summary_map:
            summary_map[progression_tuple] = []
        summary_map[progression_tuple].append(id)

    for pattern, ids in summary_map.items():
        print(f"Progression Pattern: {pattern} -> RIDs: {ids}")
        print("with", len(ids), 'participants')

    return

In [12]:
NACC_MCI= pd.read_csv('../preprocessed_data/NACC_selected_MCI.csv')
AIBL_MCI= pd.read_csv('../preprocessed_data/AIBL_selected_MCI.csv')

NACC_AD= pd.read_csv('../preprocessed_data/NACC_selected.csv')
AIBL_AD= pd.read_csv('../preprocessed_data/AIBL_selected.csv')

In [13]:
all(x in NACC_AD['ID'].unique() for x in NACC_MCI['ID'].unique())

True

In [22]:
AIBL_MCI[AIBL_MCI['Classification']=="MCI"]

,ID,Classification,age,sex,edu,APOE,BMI,blood_pressure_systolic,blood_pressure_diastolic,Heart_rate,...,GDS,MMSE,memory_recall1,memory_recall2,Digit_Span_F,Digit_Span_B,animal,BNT,VISIT,APOE4
10,4,MCI,89.32,2,9.0,E3/E3,30.90,156.0,91.0,96.0,...,NaN,23.0,6.0,0.0,7.0,6.0,29.0,24.0,55,0.0
46,20,MCI,79.18,2,10.0,E4/E3,32.49,177.0,99.0,72.0,...,0.0,22.0,7.0,6.0,9.0,5.0,30.0,26.0,73,1.0
117,33,MCI,89.08,1,16.0,E4/E3,26.19,172.0,77.0,77.0,...,0.0,25.0,4.0,3.0,10.0,5.0,31.0,22.0,83,1.0
125,38,MCI,94.34,1,18.0,E4/E3,23.38,165.0,91.0,67.0,...,8.0,29.0,8.0,5.0,10.0,6.0,42.0,28.0,127,1.0
192,53,MCI,88.31,1,11.0,E4/E3,24.52,129.0,67.0,62.0,...,3.0,26.0,7.0,7.0,11.0,9.0,38.0,29.0,107,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4556,1344,MCI,80.56,1,16.0,E4/E4,20.11,165.0,77.0,75.0,...,1.0,27.0,9.0,9.0,10.0,8.0,25.0,19.0,72,1.0
4567,1354,MCI,81.26,1,15.0,E3/E3,27.90,114.0,80.0,69.0,...,2.0,24.0,8.0,9.0,11.0,7.0,29.0,24.0,55,0.0
4612,1376,MCI,88.31,2,9.0,E3/E3,22.51,155.0,81.0,65.0,...,2.0,24.0,11.0,11.0,9.0,7.0,25.0,21.0,76,0.0
4789,1485,MCI,74.73,2,11.0,E4/E4,37.05,145.0,86.0,71.0,...,2.0,27.0,15.0,9.0,10.0,5.0,NaN,28.0,75,1.0
5229,2017,MCI,87.73,2,15.0,E3/E2,22.90,176.0,82.0,75.0,...,3.0,29.0,2.0,1.0,10.0,5.0,17.0,22.0,80,0.0

In [14]:
[x for x in NACC_MCI['ID'].unique() if x not in NACC_AD['ID'].unique()]

[]

In [15]:
all(x in AIBL_AD['ID'].unique() for x in AIBL_MCI['ID'].unique())

True

In [16]:
[x for x in AIBL_MCI['ID'].unique() if x not in AIBL_AD['ID'].unique()]

[]